.message_body {
    @apply rounded-lg block shadow-sm fixed bottom-5 left-1/2 overflow-hidden bg-main-700 animate-fadeIn duration-150; 
    z-index: 110;
    transform: translateX(-50%);
    min-height: 1.5rem;

    @screen sm {
        min-height: 2rem;
    }
    

    .message_wrapper {
        @apply flex justify-center align-middle gap-2 py-2 sticky;

        &:nth-child(n+1) {
           @apply flex justify-center items-center mx-2;
        }

        .icon {
            @apply text-sm flex justify-center align-middle;
        }

        .message {
            @apply text-main-200 break-words max-w-md;
            font-size: .65rem; 
        }
        .message_close {
            @apply text-main-200 opacity-60 transition-opacity hover:opacity-100;
            font-size: 1rem;
        }

        @screen sm {
            @apply gap-4 py-6;
            .message {
                font-size: .85rem; 
            }
            &:nth-child(n+1) {
                @apply mx-3;
             }
        }
    }
}

.success {
    @apply bg-green-500
}

.warning {
    @apply bg-yellow-500;
}

.error {
    @apply bg-red-600
}

.progress_line {
    @apply bg-gray-500 h-1 relative w-full;
    

    .line {
        @apply absolute top-0 left-0 bg-gray-300 h-full animate-progressCountDown w-full;
        animation-duration: 2s;
        animation-timing-function: cubic-bezier(0, 0, 0, 0);
        
    }
}