.message_body {
    @apply rounded-lg block shadow-sm absolute top-5 right-5 overflow-hidden bg-main-700 animate-fadeIn duration-150; 
    z-index: 110;
    min-height: 2rem;
    

    .message_wrapper {
        @apply flex justify-center align-middle gap-4 py-6 sticky;

        &:nth-child(n+1) {
           @apply flex justify-center items-center mx-3;
        }

        .icon {
            @apply text-base flex justify-center align-middle;
        }

        .message {
            @apply text-white text-sm break-words max-w-md; 
        }
        .message_close {
            @apply text-white opacity-60 transition-opacity hover:opacity-100;
            font-size: 1.2rem;
        }
    }
}

.success {
    @apply bg-green-500
}

.warning {
    @apply bg-yellow-500;
}

.error {
    @apply bg-red-600
}

.progress_line {
    @apply bg-gray-500 h-1 relative w-full;
    

    .line {
        @apply absolute top-0 left-0 bg-gray-300 h-full animate-progressCountDown w-full;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0, 0, 0, 0);
        
    }
}