@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */



*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
}

#root {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:0;
    overflow-y: auto;
    overflow-x: hidden
}


body {
  @apply bg-main-800;
  height: 100%;
  width: 100%;
  line-height: 1.3rem;
  letter-spacing: .05rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --cellSize: 2.3rem; 
  --main-900: #272522;
  --main-800:#312e2b;
  --main-700: #413e3c;
  --main-600: #888786;
  --main-500: #babab9;
  --main-200: #ffffff;
  --primary: #272522;
  --complimentary: #008e7e;
  --secondary: #7cacc8; 

  --game-info-h: calc((var(--cellSize)*8) - 8rem);

  --book-h: 18rem;
  --book-w: 10rem;
}

a {
  appearance: none;
  text-decoration: none;
  outline: none;
}

input, button {
  outline: none;
  appearance: none;
}
a:focus-visible, 
button:focus-visible {
  @apply animate-hover_effect rounded-lg;
  animation-direction: alternate;
}



@media (min-width: 350px) {
  :root {
    --cellSize: 2.8rem;
  }
}

@screen sm {
  :root {
    --cellSize: 3.5rem;
    --book-h: 25rem;
    --book-w: 17rem;
  }
}

@screen md {
  :root {
    --cellSize: 4.5rem;
    
  }
}

@screen lg {
  :root { 
    --book-h: 35rem;
    --book-w: 32rem;
  }
}

