@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  @apply bg-wooden-400;
  line-height: 1.5rem;
  letter-spacing: .05rem;
  margin: 0;
  font-family: 'Rubik Distressed', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

:root {
  --cellSize: 4.5rem; 
}

a {
  appearance: none;
  text-decoration: none;
  outline: none;
}

input, button {
  outline: none;
  appearance: none;
}