
.container {
    @apply relative;

    .wrapper {
        @apply fixed inset-0 flex items-center justify-center p-4 z-50;

        .panel_wrapper {
            @apply w-full max-w-sm bg-main-900 px-5 py-3 rounded-lg shadow animate-fadeIn;
            animation-duration: .2s;

            .panel_title {
                @apply text-center text-opacity-90 my-2 text-white;
                font-weight: 700;
                font-size: 1.2rem;
            }

            .panel_msg {
                @apply text-sm text-center text-opacity-80 my-5 text-white;
                font-weight: 600
            }

            >img {
                @apply w-16 h-16 m-auto;
            }

            .panel_buttons {
                @apply flex flex-col gap-2 justify-between items-center;

                >button {
                    @apply p-2 rounded-lg bg-opacity-70 transition-colors hover:bg-opacity-100;
                    font-size: 1rem;
                }
            }
        }
       
    }


    
}