

.match_info_wrapper {
 
    @apply bg-main-900 rounded-2xl shadow overflow-hidden animate-slideInRight;
    width: 100%;
    min-height: calc(var(--cellSize) * 8);
    
    .match_header {
        background-color: rgba(0, 0, 0, 0.200);
    
        .match_buttons {
            @apply flex;
            flex: 1 1;         
                
              
            .button {
                @apply flex flex-col py-2 px-4 gap-1 text-main-200 items-center relative;    
                flex-basis: (100% / 4);  
                font-size: .85rem;          
                >svg {
                    @apply text-main-200;
                    font-size: .85rem;
                }

                @media (hover: hover) {
                    &:hover {
                        @apply opacity-75;
                        >svg {
                            @apply opacity-75;
                        }
                    }
                }
                
            }
    
            .button_active {
                @apply bg-main-900;
            }
        }
            
    }
    .chat_wrapper_active {
         @apply opacity-100 pointer-events-auto h-fit w-full;
    }
    
    .chat_wrapper_disabled {
        @apply opacity-0 pointer-events-none h-0 w-0;
    }
    
    .match_info_footer {
        @apply mt-8;
    }

  

    @screen md {
        
        .match_header {
            .match_buttons {
                .button {
                    @apply gap-2 text-sm;
                    >svg {
                        @apply text-tiny;
                    }
                }
            }
        }
    }

    @screen lg {
        width: 40%;
    }


    
}