

.match_info_wrapper {
    @apply bg-main-900 rounded-2xl mt-5 shadow overflow-hidden animate-slideInRight;
    width: 40%;
    min-height: calc(var(--cellSize) * 7);

    .match_header {
        background-color: rgba(0, 0, 0, 0.200);

        .match_buttons {
            @apply flex;
            flex: 1 1;         
            
          
            .button {
                @apply flex flex-col py-2 px-4 gap-2 text-white items-center;    
                flex-basis: (100% / 4);            
                >svg {
                    @apply text-white text-base;
                }
            
                &:hover {
                    @apply text-opacity-75;
                    >svg {
                        @apply text-opacity-75;
                    }
                }
            }

            .button_active {
                @apply bg-main-900;
            }
        }
        
    }
    .chat_wrapper_active {
        @apply opacity-100 pointer-events-auto h-fit w-full;
    }

    .chat_wrapper_disabled {
        @apply opacity-0 pointer-events-none h-0 w-0;
    }

    .match_info_footer {
        @apply mt-8;
    }


    
}