

.header_wrapper {
    @apply flex gap-8 h-full w-full items-center flex-col;
    >button:first-child {
        @apply w-28 h-28 p-0 bg-transparent disabled:opacity-100;       
    }

    >div:first-child {
        @apply w-28;
        height: 50rem;
    }

    .header_user_info {
        @apply text-main-200 flex flex-col items-center;

        .user {
            @apply flex flex-col items-center;
            >h2 {
                @apply text-xl mb-1;
                font-weight: 700
            }

            .roles {
                @apply flex gap-2 items-center mb-8 flex-wrap;
                >span {
                    @apply  opacity-70;
                    font-weight: 400;
                    font-size: .85rem;
                }
            }
        }

        .header_stats {
            @apply flex items-center gap-4;
        }
    }

    @screen sm {
        @apply flex-row justify-center;
        >button:first-child {
            @apply w-40 h-40;       
        }
        .header_user_info {
            @apply block;
    
            .user {
                @apply block;  
            }            
        }
    }
}