

.button_wrapper {
    @apply animate-slideInRight w-full;
    
    >div {
        @apply bg-complimentary  text-sm text-main-200 text-opacity-90 p-3 w-full rounded-lg transition-all duration-150;
        font-weight: 600;

        @screen lg {
            @apply text-tiny
        }

        &:hover,
        &:focus {
            @apply animate-hover_effect;
            animation-direction: alternate;
            transform: scale(1.05);

        }

        

    }
}   