.admin_container {
    @apply flex justify-center w-full mt-10 mb-5 pl-12;

    .main_wrapper {
        @apply rounded-3xl bg-main-700 shadow pb-2 pr-2 relative;
        min-height: 40rem;
        width: 100%;

        .admin_wrapper {
            @apply rounded-3xl bg-main-900 h-full w-full shadow;         

                .admin_header {
                    @apply flex justify-between items-center p-6;
                    
                    >h2 {
                        @apply text-main-200 text-tiny;
                        font-weight: 600;
                    }
                }
        
                .line {
                    @apply w-full bg-main-700 opacity-60;
                    height: .05rem;
                }
                .admin_body {
                    @apply p-6;
                }
        }

        nav {
            @apply absolute top-1/2 shadow;
            right: calc(100%);
            transform: translateY(-50%);
            -webkit-box-shadow: 0 3px 7px rgb(0 0 0 /0.2) , 0 -4px 7px rgb(0 0 0 /0.2) , -4px 0 4px rgb(0 0 0 /0.2) inset;
            -moz-box-shadow: 0 3px 7px rgb(0 0 0 /0.2) , 0 -4px 7px rgb(0 0 0 /0.2) , -4px 0 4px rgb(0 0 0 /0.2) inset;
            box-shadow: 0 3px 7px rgb(0 0 0 /0.2) , 0 -4px 7px rgb(0 0 0 /0.2) , -4px 0 4px rgb(0 0 0 /0.5) inset;
        }

        @screen md {
            width: 70rem;
        }
    }
}

.menu_wrapper {
    @apply bg-main-700 p-2 flex flex-col gap-4;
    border-radius: 1.2rem 0 0 1.2rem;

    >button {
        @apply p-2 bg-main-700 text-main-200 text-tiny rounded-lg opacity-80;

        @media (hover: hover) {
            &:hover {
                @apply opacity-100;
            }
        }
    }

    .link_active {
        @apply bg-complimentary opacity-100;
    }

}