

.field {
    @apply w-full h-min animate-slideInLeft shadow relative;
    
    .cells {
        @apply flex flex-wrap border-main-800 relative;
        width: calc(8 * var(--cellSize));
        height: calc(8 * var(--cellSize));
        .cell {
            @apply flex items-center justify-center relative;
            border: 5px solid transparent;
            width: var(--cellSize);
            height: var(--cellSize);
         
            .available_dot {
                @apply absolute rounded-full bg-stone-700 opacity-60 h-5 w-5 top-1/2 left-1/2 animate-fadeIn;
                animation-duration: .15s;
                transform: translate(-50%, -50%);
                z-index: 30;
            }
        }
        .w {
            @apply bg-main-200 opacity-90;
        }
        .b {
            @apply bg-complimentary opacity-90;
        }
        .selected {
            @apply bg-secondary;
        }
        .draggedOver {
            @apply border-secondary ;
        }

        .premoved {
            @apply bg-red-700 opacity-60;
        }

    }
    >div:nth-child(n+2) {
        @apply absolute top-1/2 left-1/2;
        transform: translate(-50%, -50%);
    }
}