

.field {
    @apply flex flex-wrap border-wooden-900 shadow animate-slideInLeft;
    width: calc(8 * var(--cellSize));
    height: calc(8 * var(--cellSize));
    

    .cell {
        @apply flex items-center justify-center relative;
        width: var(--cellSize);
        height: var(--cellSize);
        >img {
            width: calc(var(--cellSize) - .5rem);
            height: calc(var(--cellSize) - .5rem);
        }
        .available_dot {
            @apply absolute rounded-full bg-green-500 h-1 w-1 top-1/2 left-1/2;
            transform: translateX(-50% -50%);
        }
    }
    .white {
        @apply bg-wooden-700;
    }
    .black {
        @apply bg-complimentary;
    }
    .selected {
        @apply bg-green-500;
    }
}