

.timer_wrapper { 
    @apply inline-flex items-center bg-main-900 w-max rounded-lg px-2 justify-center;
    width: 4.5rem;
    font-size: .85rem;
    
    >span {
        @apply h-max text-main-200;
        font-size: .75rem;
        width: 2.5rem;
    }
    >svg {
        @apply w-5 h-5 text-complimentary;
    }
 
    @screen sm {
        @apply text-tiny rounded-xl;
        width: 7rem;
    
        >span {    
            @apply text-sm;
            width: 3rem;
        }
        >svg {
            @apply w-9 h-9 ;
        }

    }

    @screen md {
        >span {
            @apply text-tiny;
            width: 4rem;
        }
    }
   
}