

.form_box {
    @apply rounded-lg;
    width: 100%;

    >div {
         @apply mt-4;
    }
    .buttons {
        @apply flex justify-center items-center gap-2 mt-7 mb-2;
    }

    @screen md {
         width: 70%;
    }
}


.avatar_field {
    @apply flex  flex-col gap-2 items-center;
    width: 100%;

    >div:first-child {
        @apply my-auto mx-0;
    } 

    @screen md {
        @apply flex flex-row justify-around;
        width: 100%;
    }
}

.avatar_preview {
    @apply p-2 bg-gray-600 rounded-full;
    width: fit-content;

    >div {
        @apply w-10 h-10 rounded-full overflow-hidden;

        >img {
            @apply w-full h-full;
        }

        @screen md {
            @apply w-14 h-14; 
        }
    }
}