


.announcer_wrapper {
    @apply absolute left-1/2 top-1/4 text-amber-200 text-sm w-max h-min p-2 rounded-lg select-none break-words;
    font-weight: 900; 
    z-index: 76;
    transform: translate(-50%, -50%);

    >h2 {
        @apply text-center animate-scaleDown;
        animation-duration: .5s;
        text-shadow: 0 0 .25rem #7fa650, 0 0 .35rem #000000;
    }

    @screen md {
        @apply text-4xl
    }
}