

.button_wrapper {
    @apply animate-slideInRight w-full;
    
    >div {
        @apply bg-complimentary  text-white text-opacity-90 p-3 w-full rounded-lg transition-all duration-150;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover,
        &:focus {
            @apply animate-hover_effect;
            animation-direction: alternate;
            transform: scale(1.05);

        }

        

    }
}   