

.skill_item_wrapper {
    @apply px-2 py-3 cursor-pointer disabled:opacity-40;
    
    .skill_info {
        @apply flex flex-col;
        line-height: 1rem;

        >h2 {
            font-size: .75rem;
            font-weight: 700;
        }
        >p {
            font-size: .55rem;
            font-weight: 500;
        }
        >h3 {
            @apply opacity-90;
            font-size: .45rem;
        }
        >span {
            @apply opacity-90;
            font-size: .45rem;
        }

        @screen sm {
            line-height: 1.5rem;
            >h2 {
                font-size: 1rem;
            }
            >p {
                font-size: .7rem;
            }
            >h3 {
                font-size: .75rem;
            }
            >span {
                font-size: .75rem;
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            @apply opacity-70;
        }
    }
}