.wrapper {
    @apply flex flex-col items-center mt-5 bg-main-900 mx-auto rounded-2xl py-2 px-3 shadow animate-scaleIn duration-75;
    min-height: 20rem;
    max-width: 70rem;

    >h1 {
        @apply text-sm text-main-200 my-5 text-center;
        font-weight: 600;

        @screen md {
            @apply text-base;
        }
    }   

    @screen md {
        @apply px-8
    }
    
}