

.carousel_container {
    @apply relative  w-full h-full flex items-center gap-2;
    >button:first-child,
    >button:last-child {
        @apply bg-transparent text-main-200 opacity-80 transition-colors duration-200 hover:opacity-100 disabled:opacity-50;
        font-size: 2rem;
    }
    .carousel_overlay {
        @apply  overflow-hidden relative;
       
        
        .carousel_viewport {
            @apply flex justify-center h-full transition-transform duration-300 ease-out  px-7;

            transform: translateX(0%);
            --items-per-screen: 3;
            >div {                
                flex: 1 0 calc(100% / var(--items-per-screen));
                width: 25%;
                aspect-ratio: 16/9;                
            }

            
        }     
    }
    
}