

.wrapper {
    @apply bg-transparent cursor-grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    width: calc(var(--cellSize) - .5rem);
    height: calc(var(--cellSize) - .5rem);

    >img {
        @apply bg-transparent w-full h-full;
    }
}

.piece_tiny {
    @apply w-5 h-5 rounded-md bg-main-800;    
}