

.info_container {
 
    @apply w-full bg-main-900 rounded-lg px-1 py-1 shadow flex items-center justify-between ;
    
    .info_wrapper {
         @apply flex gap-2 items-center;
    
        >div:first-child{
            @apply w-7 h-7 rounded-md;
        }
        .stats_wrapper {
            @apply flex flex-col text-main-200;
    
            >h3 {
                font-size: .75rem;
                font-weight: 600;
            }
            .stats {
                 @apply flex gap-1;
                >span {
                        font-size: .65rem;
                        font-weight: 300;
                }
            }
        }
    }
    
    .buttons {
        @apply flex items-center;
        >button {
            @apply bg-transparent w-8 h-8 p-1;
            >img {
                @apply w-full h-full;   
                object-fit: cover;          
            }
        }
        >button:nth-child(2),
        >button:nth-child(1) {
            @apply flex items-center justify-center opacity-80 p-0 hover:opacity-100;
            >svg {
                width: calc(100% / 2);
                height: calc(100% / 2);
            }
        }
    }
  

    @screen sm {
        @apply rounded-xl px-2;
    
        .info_wrapper {
            @apply gap-3;
    
            >div:first-child{
                @apply w-10 h-10 rounded-lg;
            }
            .stats_wrapper {
    
                >h3 {
                    font-size: .85rem;
                }
                .stats {
                    >span {
                        font-size: .75rem;
                    }
                }
            }
        }
    
        .buttons {                     
            >button {
                @apply bg-transparent w-10 h-10;               
            }
        }

    }

    @screen lg {
        
        .info_wrapper {            
            .stats_wrapper {    
                >h3 {
                    @apply text-sm;
                }
                
            }
        }
        .buttons {          
            >button {
                @apply bg-transparent w-14 h-14;              
            }
            >button:nth-child(2),
            >button:nth-child(1) {
                @apply p-1;
            }
        }
    }
}