

.message_item_wrapper {
    @apply px-2 py-1 relative rounded-lg my-1 shadow;
      

    >h3 {
        @apply text-secondary italic;
        font-size: .65rem;
    }

    >p {
        @apply break-words text-main-200;
        font-size: .85rem;
        font-weight: 300;
    }
    .client_name {
        @apply text-complimentary;
    }

    >span {
        @apply text-main-200 italic;
        font-size: .65rem;
        font-weight: 200;
    }   

    @screen md {
        @apply my-2;
        >h3 {
            font-size: .85rem;
        }
        >p {
            @apply text-sm;
        }
        >span {
            font-size: .85rem;
        }
    }
}