.wrapper {
    @apply relative inline-flex;

    >button {
        @apply flex items-center justify-center gap-2 outline-none;
        >div {
            @apply overflow-hidden w-9 h-9;
            
        }

        >span {
            @apply text-sm text-main-200 opacity-80;
            font-weight: 500;
        }

        .icon {
            @apply text-main-500;
            font-size: 1.2rem;
        }

    }
    .menu {
        @apply absolute  w-full p-3 rounded-lg z-50 shadow bg-main-800 min-w-max animate-fadeIn duration-150;
        top: calc(100% + 1.4rem);
        left: -50%;
        
        >ul {
            @apply flex-col flex gap-2;
            >li {
                @apply text-main-200  opacity-75 relative;
                font-size: .85rem;

                &:hover::before {
                    @apply w-full
                }
                &::before {
                    @apply absolute -bottom-1 left-0 w-0 h-1 bg-secondary transition-all duration-200;
                    content: '';
                    
                }
            }
            @screen md {
                @apply gap-4;
                >li {
                    @apply text-sm;
                }
            }
        }

        @screen md {
            left: -1rem;
        }
    }
}