

.wrapper {
    @apply  mt-20 p-2 flex gap-10 justify-center relative items-center;
    min-height: 20rem;
    >div:first-child {
        display: none;
    }
    @screen md {
        >div:first-child {
            @apply block;
            max-width: 50rem;
            height: 30rem;
        }
    }
    
   
    
}   

.menu_box {
    @apply flex flex-col gap-5 items-start w-max ;
    &::before {
        @apply absolute -top-24 -right-2;
        content: '';
        width: 100vw;
        height: 100vh;
        background: linear-gradient(280deg, rgba(0, 0, 0, 0.200) , rgba(0, 0, 0, 0.0) 60%),
        linear-gradient(300deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 60%),
        linear-gradient(330deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 60%),
        linear-gradient(200deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 65%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.0) 25%),
        linear-gradient(140deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 35%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 35%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.200), rgba(0, 0, 0, 0.0) 25%);
        
      
       
        background-size: 100%;
        z-index: -1;
        
    }
}