

.handler_wrapper {
    @apply p-1;
    >h4 {
        @apply text-main-200;
        font-size: .75rem;
        font-weight: 300;

        @screen sm {
            @apply text-sm;
        }
    }

    .buttons {
        @apply flex gap-2 mt-2;

        >button {
            @apply bg-transparent hover:text-opacity-70;
        }
    }

    .timer {
        >div {
            @apply shadow-sm bg-transparent;
            >span {
                font-size: .65rem;

                @screen sm {
                    font-size: .85rem;
                }
            }
            >svg {
                @apply hidden;
            }
        }
    }
}